In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp

IMPORTING CSV FILE AS DATAFRAME

In [2]:
data=pd.read_csv("Task_4.csv")

In [3]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,yes,2.0,Haanji,furnished
1,12250000,8960.0,NaN,4.0,4.0,yes,no,no,Nakko,yes,NaN,no,furnished
2,12250000,9960.0,3.0,2.0,2.0,yes,NaN,yes,no,Naaji,2.0,yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Of course,yes,NaN,yes,2.0,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,NaN,2.0,NaN,1.0,NaN,no,NaN,no,no,NaN,no,unfurnished
541,1767150,NaN,3.0,1.0,1.0,no,ille,no,no,Nah,NaN,NaN,NaN
542,1750000,3620.0,NaN,NaN,NaN,yes,no,no,NaN,NaN,NaN,n,unfurnished
543,1750000,NaN,NaN,1.0,1.0,no,no,no,no,no,0.0,NaN,furnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,no,0.0,Naaji,NaN

DROPPING DUPLICATE ROWS (IF ANY)

In [4]:
data=data.drop_duplicates()
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,yes,2.0,Haanji,furnished
1,12250000,8960.0,NaN,4.0,4.0,yes,no,no,Nakko,yes,NaN,no,furnished
2,12250000,9960.0,3.0,2.0,2.0,yes,NaN,yes,no,Naaji,2.0,yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Of course,yes,NaN,yes,2.0,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,NaN,2.0,NaN,1.0,NaN,no,NaN,no,no,NaN,no,unfurnished
541,1767150,NaN,3.0,1.0,1.0,no,ille,no,no,Nah,NaN,NaN,NaN
542,1750000,3620.0,NaN,NaN,NaN,yes,no,no,NaN,NaN,NaN,n,unfurnished
543,1750000,NaN,NaN,1.0,1.0,no,no,no,no,no,0.0,NaN,furnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,no,0.0,Naaji,NaN

PRINTS TOTAL NAN VALUES IN THE DATASET

In [5]:
data.isnull().sum()
# data.isnull().sum().sum()

price                 0
area                206
bedrooms            187
bathrooms           183
stories             185
mainroad            194
guestroom           210
basement            204
hotwaterheating     204
airconditioning     188
parking             208
prefarea            188
furnishingstatus    187
dtype: int64

PRINTS UNIQUE VALUES OF COLUMNS BASEMENT,MAINROAD,GUESTROOM

In [6]:
print(data.basement.unique())
print(data.mainroad.unique())
print(data.guestroom.unique())
print(data.prefarea.unique())

[nan 'no' 'yes' 'Haanji' 'N' 'Naaji' 'n' 'y' 'False' 'Haan' 'Nakko' 'ille'
 'Nah' 'True' 'yep' 'Nope' 'Indeed' "['n']" 'Of course' 'Y' 'Yo']
[nan 'yes' 'Of course' 'Indeed' 'yep' 'Haan' 'True' 'y' 'Y' "['y']" 'Nope'
 'Yo' 'no' 'Haanji' 'Nakko' 'False' 'Naaji' 'N' 'n']
[nan 'no' 'Of course' 'yes' 'ille' 'y' 'N' 'Yo' 'Nakko' 'Y' 'Naaji' 'n'
 'False' "['n']" 'Haan' 'Nah' 'yep' 'Haanji' 'True' 'Nope' 'Indeed']
['Haanji' 'no' 'yes' 'Haan' nan 'Of course' 'Nakko' 'Nope' 'ille' 'N'
 'yep' 'y' 'Naaji' 'True' 'Y' 'n' "['n']" 'False' 'Yo' 'Nah']

PUTTING ALL UNIQUES OF YES/NO IN A LIST TO REPLACE THEM

In [7]:
stringsy=['Haanji','True','Indeed','y','Yo','yep','yes','Haan','Of course','Y',"['y']"]
repy='YES'
stringsn=['no','Nakko','False','Nah','n','N','Naaji','Nope','ille',"['n']"]
repn='NO'

REPLACING ALL Y,YEP,HAANJI etc with YES AND n.NAHH,NAAJI etc with NO

In [8]:
#putting yes
data['basement']=data['basement'].replace(stringsy,repy)
data["mainroad"]=data["mainroad"].replace(stringsy,repy)
data["guestroom"]=data["guestroom"].replace(stringsy,repy)
data["hotwaterheating"]=data["hotwaterheating"].replace(stringsy,repy)
data["prefarea"]=data["prefarea"].replace(stringsy,repy)
data["airconditioning"]=data["airconditioning"].replace(stringsy,repy)
#putting no
data['basement']=data['basement'].replace(stringsn,repn)
data["mainroad"]=data["mainroad"].replace(stringsn,repn)
data["guestroom"]=data["guestroom"].replace(stringsn,repn)
data["hotwaterheating"]=data["hotwaterheating"].replace(stringsn,repn)
data["prefarea"]=data["prefarea"].replace(stringsn,repn)
data["airconditioning"]=data["airconditioning"].replace(stringsn,repn)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,YES,2.0,YES,furnished
1,12250000,8960.0,NaN,4.0,4.0,YES,NO,NO,NO,YES,NaN,NO,furnished
2,12250000,9960.0,3.0,2.0,2.0,YES,NaN,YES,NO,NO,2.0,YES,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,NO,YES,NO,YES,3.0,YES,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,YES,YES,NaN,YES,2.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,NaN,2.0,NaN,1.0,NaN,NO,NaN,NO,NO,NaN,NO,unfurnished
541,1767150,NaN,3.0,1.0,1.0,NO,NO,NO,NO,NO,NaN,NaN,NaN
542,1750000,3620.0,NaN,NaN,NaN,YES,NO,NO,NaN,NaN,NaN,NO,unfurnished
543,1750000,NaN,NaN,1.0,1.0,NO,NO,NO,NO,NO,0.0,NaN,furnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,NO,0.0,NO,NaN

REMOVING COLUMNS HAVING THRESHOLD OF 8 NAN VALUES

In [9]:
data=data.dropna(axis=0,thresh=9)
data = data.reset_index(drop=True)
data.shape

(306, 13)

USING INTERPOLATE TO FILL NAN VALUES IN THE COLUMN AREA

In [10]:
data['area']=data['area'].interpolate(method='linear').fillna(1).astype(int)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,NaN,4.0,4.0,YES,NO,NO,NO,YES,NaN,NO,furnished
1,12250000,9960,3.0,2.0,2.0,YES,NaN,YES,NO,NO,2.0,YES,semi-furnished
2,12215000,7500,NaN,NaN,NaN,NaN,NO,YES,NO,YES,3.0,YES,furnished
3,11410000,7420,NaN,1.0,2.0,NaN,YES,YES,NaN,YES,2.0,NO,NaN
4,10150000,16200,5.0,3.0,2.0,NaN,NaN,NO,NaN,NO,0.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4.0,NaN,2.0,NaN,NO,NO,NaN,NO,0.0,NaN,unfurnished
302,1960000,3324,NaN,1.0,2.0,NO,NaN,NO,NO,NO,NaN,NO,unfurnished
303,1890000,3649,2.0,1.0,NaN,NaN,NO,NO,NO,NaN,0.0,NO,NaN
304,1767150,3649,3.0,1.0,1.0,NO,NO,NO,NO,NO,NaN,NaN,NaN
305,1750000,3649,NaN,1.0,1.0,NO,NO,NO,NO,NO,0.0,NaN,furnished

DISPLAY.MAX_ROWS HELPS DISPLAY ALL ROWS INSTEAD OF FIRST 5 AND LAST 5

In [11]:
# pd.set_option('display.max_rows', None)
# data

PUTTING no in place of nan values in a column having unfurnished as furnishing status

In [12]:
data = data.apply(lambda row: row.fillna('NO') if 'unfurnished' in row.values else row, axis=1)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,NaN,4.0,4.0,YES,NO,NO,NO,YES,NaN,NO,furnished
1,12250000,9960,3.0,2.0,2.0,YES,NaN,YES,NO,NO,2.0,YES,semi-furnished
2,12215000,7500,NaN,NaN,NaN,NaN,NO,YES,NO,YES,3.0,YES,furnished
3,11410000,7420,NaN,1.0,2.0,NaN,YES,YES,NaN,YES,2.0,NO,NaN
4,10150000,16200,5.0,3.0,2.0,NaN,NaN,NO,NaN,NO,0.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4.0,NO,2.0,NO,NO,NO,NO,NO,0.0,NO,unfurnished
302,1960000,3324,NO,1.0,2.0,NO,NO,NO,NO,NO,NO,NO,unfurnished
303,1890000,3649,2.0,1.0,NaN,NaN,NO,NO,NO,NaN,0.0,NO,NaN
304,1767150,3649,3.0,1.0,1.0,NO,NO,NO,NO,NO,NaN,NaN,NaN
305,1750000,3649,NaN,1.0,1.0,NO,NO,NO,NO,NO,0.0,NaN,furnished

In [13]:
data['bedrooms']=data['bedrooms'].replace('NO',np.nan)
data['bathrooms']=data['bathrooms'].replace('NO',np.nan)
data['stories']=data['stories'].replace('NO',np.nan)
data['parking']=data['parking'].replace('NO',np.nan)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,NaN,4.0,4.0,YES,NO,NO,NO,YES,NaN,NO,furnished
1,12250000,9960,3.0,2.0,2.0,YES,NaN,YES,NO,NO,2.0,YES,semi-furnished
2,12215000,7500,NaN,NaN,NaN,NaN,NO,YES,NO,YES,3.0,YES,furnished
3,11410000,7420,NaN,1.0,2.0,NaN,YES,YES,NaN,YES,2.0,NO,NaN
4,10150000,16200,5.0,3.0,2.0,NaN,NaN,NO,NaN,NO,0.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4.0,NaN,2.0,NO,NO,NO,NO,NO,0.0,NO,unfurnished
302,1960000,3324,NaN,1.0,2.0,NO,NO,NO,NO,NO,NaN,NO,unfurnished
303,1890000,3649,2.0,1.0,NaN,NaN,NO,NO,NO,NaN,0.0,NO,NaN
304,1767150,3649,3.0,1.0,1.0,NO,NO,NO,NO,NO,NaN,NaN,NaN
305,1750000,3649,NaN,1.0,1.0,NO,NO,NO,NO,NO,0.0,NaN,furnished

In [14]:
data['bedrooms'] = data['bedrooms'].interpolate(method='linear').fillna(2).astype(int)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,NaN,NO,furnished
1,12250000,9960,3,2.0,2.0,YES,NaN,YES,NO,NO,2.0,YES,semi-furnished
2,12215000,7500,3,NaN,NaN,NaN,NO,YES,NO,YES,3.0,YES,furnished
3,11410000,7420,4,1.0,2.0,NaN,YES,YES,NaN,YES,2.0,NO,NaN
4,10150000,16200,5,3.0,2.0,NaN,NaN,NO,NaN,NO,0.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,NaN,2.0,NO,NO,NO,NO,NO,0.0,NO,unfurnished
302,1960000,3324,3,1.0,2.0,NO,NO,NO,NO,NO,NaN,NO,unfurnished
303,1890000,3649,2,1.0,NaN,NaN,NO,NO,NO,NaN,0.0,NO,NaN
304,1767150,3649,3,1.0,1.0,NO,NO,NO,NO,NO,NaN,NaN,NaN
305,1750000,3649,3,1.0,1.0,NO,NO,NO,NO,NO,0.0,NaN,furnished

In [15]:
data['bathrooms'].fillna(data['bedrooms'] - 1, inplace=True)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,NaN,NO,furnished
1,12250000,9960,3,2.0,2.0,YES,NaN,YES,NO,NO,2.0,YES,semi-furnished
2,12215000,7500,3,2.0,NaN,NaN,NO,YES,NO,YES,3.0,YES,furnished
3,11410000,7420,4,1.0,2.0,NaN,YES,YES,NaN,YES,2.0,NO,NaN
4,10150000,16200,5,3.0,2.0,NaN,NaN,NO,NaN,NO,0.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,NO,NO,NO,NO,0.0,NO,unfurnished
302,1960000,3324,3,1.0,2.0,NO,NO,NO,NO,NO,NaN,NO,unfurnished
303,1890000,3649,2,1.0,NaN,NaN,NO,NO,NO,NaN,0.0,NO,NaN
304,1767150,3649,3,1.0,1.0,NO,NO,NO,NO,NO,NaN,NaN,NaN
305,1750000,3649,3,1.0,1.0,NO,NO,NO,NO,NO,0.0,NaN,furnished

In [16]:
mean_value = int(data['stories'].mean())
data['stories'].fillna(mean_value, inplace=True)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,NaN,NO,furnished
1,12250000,9960,3,2.0,2.0,YES,NaN,YES,NO,NO,2.0,YES,semi-furnished
2,12215000,7500,3,2.0,1.0,NaN,NO,YES,NO,YES,3.0,YES,furnished
3,11410000,7420,4,1.0,2.0,NaN,YES,YES,NaN,YES,2.0,NO,NaN
4,10150000,16200,5,3.0,2.0,NaN,NaN,NO,NaN,NO,0.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,NO,NO,NO,NO,0.0,NO,unfurnished
302,1960000,3324,3,1.0,2.0,NO,NO,NO,NO,NO,NaN,NO,unfurnished
303,1890000,3649,2,1.0,1.0,NaN,NO,NO,NO,NaN,0.0,NO,NaN
304,1767150,3649,3,1.0,1.0,NO,NO,NO,NO,NO,NaN,NaN,NaN
305,1750000,3649,3,1.0,1.0,NO,NO,NO,NO,NO,0.0,NaN,furnished

In [17]:
data['mainroad'].fillna('YES',inplace=True)
data['hotwaterheating'].fillna('NO',inplace=True)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,NaN,NO,furnished
1,12250000,9960,3,2.0,2.0,YES,NaN,YES,NO,NO,2.0,YES,semi-furnished
2,12215000,7500,3,2.0,1.0,YES,NO,YES,NO,YES,3.0,YES,furnished
3,11410000,7420,4,1.0,2.0,YES,YES,YES,NO,YES,2.0,NO,NaN
4,10150000,16200,5,3.0,2.0,YES,NaN,NO,NO,NO,0.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,NO,NO,NO,NO,0.0,NO,unfurnished
302,1960000,3324,3,1.0,2.0,NO,NO,NO,NO,NO,NaN,NO,unfurnished
303,1890000,3649,2,1.0,1.0,YES,NO,NO,NO,NaN,0.0,NO,NaN
304,1767150,3649,3,1.0,1.0,NO,NO,NO,NO,NO,NaN,NaN,NaN
305,1750000,3649,3,1.0,1.0,NO,NO,NO,NO,NO,0.0,NaN,furnished

In [18]:
mean = data['parking'].mean()
data['parking'].fillna(1, inplace=True)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,1.0,NO,furnished
1,12250000,9960,3,2.0,2.0,YES,NaN,YES,NO,NO,2.0,YES,semi-furnished
2,12215000,7500,3,2.0,1.0,YES,NO,YES,NO,YES,3.0,YES,furnished
3,11410000,7420,4,1.0,2.0,YES,YES,YES,NO,YES,2.0,NO,NaN
4,10150000,16200,5,3.0,2.0,YES,NaN,NO,NO,NO,0.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,NO,NO,NO,NO,0.0,NO,unfurnished
302,1960000,3324,3,1.0,2.0,NO,NO,NO,NO,NO,1.0,NO,unfurnished
303,1890000,3649,2,1.0,1.0,YES,NO,NO,NO,NaN,0.0,NO,NaN
304,1767150,3649,3,1.0,1.0,NO,NO,NO,NO,NO,1.0,NaN,NaN
305,1750000,3649,3,1.0,1.0,NO,NO,NO,NO,NO,0.0,NaN,furnished

In [19]:
data['airconditioning'].fillna(method='ffill',inplace=True)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,1.0,NO,furnished
1,12250000,9960,3,2.0,2.0,YES,NaN,YES,NO,NO,2.0,YES,semi-furnished
2,12215000,7500,3,2.0,1.0,YES,NO,YES,NO,YES,3.0,YES,furnished
3,11410000,7420,4,1.0,2.0,YES,YES,YES,NO,YES,2.0,NO,NaN
4,10150000,16200,5,3.0,2.0,YES,NaN,NO,NO,NO,0.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,NO,NO,NO,NO,0.0,NO,unfurnished
302,1960000,3324,3,1.0,2.0,NO,NO,NO,NO,NO,1.0,NO,unfurnished
303,1890000,3649,2,1.0,1.0,YES,NO,NO,NO,NO,0.0,NO,NaN
304,1767150,3649,3,1.0,1.0,NO,NO,NO,NO,NO,1.0,NaN,NaN
305,1750000,3649,3,1.0,1.0,NO,NO,NO,NO,NO,0.0,NaN,furnished

In [20]:
data['guestroom'] = data['area'].apply(lambda x: 'YES' if 2000 <= x <= 7000 else 'NO')
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,1.0,NO,furnished
1,12250000,9960,3,2.0,2.0,YES,NO,YES,NO,NO,2.0,YES,semi-furnished
2,12215000,7500,3,2.0,1.0,YES,NO,YES,NO,YES,3.0,YES,furnished
3,11410000,7420,4,1.0,2.0,YES,NO,YES,NO,YES,2.0,NO,NaN
4,10150000,16200,5,3.0,2.0,YES,NO,NO,NO,NO,0.0,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,YES,NO,NO,NO,0.0,NO,unfurnished
302,1960000,3324,3,1.0,2.0,NO,YES,NO,NO,NO,1.0,NO,unfurnished
303,1890000,3649,2,1.0,1.0,YES,YES,NO,NO,NO,0.0,NO,NaN
304,1767150,3649,3,1.0,1.0,NO,YES,NO,NO,NO,1.0,NaN,NaN
305,1750000,3649,3,1.0,1.0,NO,YES,NO,NO,NO,0.0,NaN,furnished

In [21]:
yes = data['furnishingstatus'].eq('YES').sum()
no= data['furnishingstatus'].eq('NO').sum()
if yes >3:
    data['furnishingstatus'].fillna('FURNISHES',inplace=True)
elif no>3:
    data['furnishingstatus'].fillna('UNFURNISHED',inplace=True)
else:
    data['furnishingstatus'].fillna('SEMI-FURNISHED',inplace=True)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,1.0,NO,furnished
1,12250000,9960,3,2.0,2.0,YES,NO,YES,NO,NO,2.0,YES,semi-furnished
2,12215000,7500,3,2.0,1.0,YES,NO,YES,NO,YES,3.0,YES,furnished
3,11410000,7420,4,1.0,2.0,YES,NO,YES,NO,YES,2.0,NO,SEMI-FURNISHED
4,10150000,16200,5,3.0,2.0,YES,NO,NO,NO,NO,0.0,NO,SEMI-FURNISHED
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,YES,NO,NO,NO,0.0,NO,unfurnished
302,1960000,3324,3,1.0,2.0,NO,YES,NO,NO,NO,1.0,NO,unfurnished
303,1890000,3649,2,1.0,1.0,YES,YES,NO,NO,NO,0.0,NO,SEMI-FURNISHED
304,1767150,3649,3,1.0,1.0,NO,YES,NO,NO,NO,1.0,NaN,SEMI-FURNISHED
305,1750000,3649,3,1.0,1.0,NO,YES,NO,NO,NO,0.0,NaN,furnished

In [22]:
data['furnishingstatus']=data['furnishingstatus'].replace('semi-furnished','SEMI-FURNISHED')
data['furnishingstatus']=data['furnishingstatus'].replace('furnished','FURNISHED')
data['furnishingstatus']=data['furnishingstatus'].replace('unfurnished','UNFURNISHED')
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,1.0,NO,FURNISHED
1,12250000,9960,3,2.0,2.0,YES,NO,YES,NO,NO,2.0,YES,SEMI-FURNISHED
2,12215000,7500,3,2.0,1.0,YES,NO,YES,NO,YES,3.0,YES,FURNISHED
3,11410000,7420,4,1.0,2.0,YES,NO,YES,NO,YES,2.0,NO,SEMI-FURNISHED
4,10150000,16200,5,3.0,2.0,YES,NO,NO,NO,NO,0.0,NO,SEMI-FURNISHED
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,YES,NO,NO,NO,0.0,NO,UNFURNISHED
302,1960000,3324,3,1.0,2.0,NO,YES,NO,NO,NO,1.0,NO,UNFURNISHED
303,1890000,3649,2,1.0,1.0,YES,YES,NO,NO,NO,0.0,NO,SEMI-FURNISHED
304,1767150,3649,3,1.0,1.0,NO,YES,NO,NO,NO,1.0,NaN,SEMI-FURNISHED
305,1750000,3649,3,1.0,1.0,NO,YES,NO,NO,NO,0.0,NaN,FURNISHED

In [23]:
data['basement'].replace({'YES':1,'NO':0},inplace=True)
m=data['basement'].mode()
m

0    0.0
Name: basement, dtype: float64

In [24]:
# mp.scatter(data['basement'], data['area'],s=5)
# mp.title('plotting Basement vs. Area')
# mp.xlabel('Basement')
# mp.ylabel('area')
# mp.show()

In [25]:
data['basement'].fillna(0,inplace=True)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,0.0,NO,YES,1.0,NO,FURNISHED
1,12250000,9960,3,2.0,2.0,YES,NO,1.0,NO,NO,2.0,YES,SEMI-FURNISHED
2,12215000,7500,3,2.0,1.0,YES,NO,1.0,NO,YES,3.0,YES,FURNISHED
3,11410000,7420,4,1.0,2.0,YES,NO,1.0,NO,YES,2.0,NO,SEMI-FURNISHED
4,10150000,16200,5,3.0,2.0,YES,NO,0.0,NO,NO,0.0,NO,SEMI-FURNISHED
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,YES,0.0,NO,NO,0.0,NO,UNFURNISHED
302,1960000,3324,3,1.0,2.0,NO,YES,0.0,NO,NO,1.0,NO,UNFURNISHED
303,1890000,3649,2,1.0,1.0,YES,YES,0.0,NO,NO,0.0,NO,SEMI-FURNISHED
304,1767150,3649,3,1.0,1.0,NO,YES,0.0,NO,NO,1.0,NaN,SEMI-FURNISHED
305,1750000,3649,3,1.0,1.0,NO,YES,0.0,NO,NO,0.0,NaN,FURNISHED

In [26]:
data['basement'].replace({1:'YES',0:'NO'},inplace=True)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,1.0,NO,FURNISHED
1,12250000,9960,3,2.0,2.0,YES,NO,YES,NO,NO,2.0,YES,SEMI-FURNISHED
2,12215000,7500,3,2.0,1.0,YES,NO,YES,NO,YES,3.0,YES,FURNISHED
3,11410000,7420,4,1.0,2.0,YES,NO,YES,NO,YES,2.0,NO,SEMI-FURNISHED
4,10150000,16200,5,3.0,2.0,YES,NO,NO,NO,NO,0.0,NO,SEMI-FURNISHED
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,YES,NO,NO,NO,0.0,NO,UNFURNISHED
302,1960000,3324,3,1.0,2.0,NO,YES,NO,NO,NO,1.0,NO,UNFURNISHED
303,1890000,3649,2,1.0,1.0,YES,YES,NO,NO,NO,0.0,NO,SEMI-FURNISHED
304,1767150,3649,3,1.0,1.0,NO,YES,NO,NO,NO,1.0,NaN,SEMI-FURNISHED
305,1750000,3649,3,1.0,1.0,NO,YES,NO,NO,NO,0.0,NaN,FURNISHED

In [27]:
data['prefarea'].replace({'YES':1,'NO':0},inplace=True)
m1=data['prefarea'].mode()
m1

0    0.0
Name: prefarea, dtype: float64

In [28]:
# mp.scatter(data['basement'], data['area'],s=5)
# mp.title('plotting prefarea vs. Area')
# mp.xlabel('prefarea')
# mp.ylabel('area')
# mp.show()

In [29]:
data['prefarea'].fillna(0,inplace=True)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,1.0,0.0,FURNISHED
1,12250000,9960,3,2.0,2.0,YES,NO,YES,NO,NO,2.0,1.0,SEMI-FURNISHED
2,12215000,7500,3,2.0,1.0,YES,NO,YES,NO,YES,3.0,1.0,FURNISHED
3,11410000,7420,4,1.0,2.0,YES,NO,YES,NO,YES,2.0,0.0,SEMI-FURNISHED
4,10150000,16200,5,3.0,2.0,YES,NO,NO,NO,NO,0.0,0.0,SEMI-FURNISHED
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,YES,NO,NO,NO,0.0,0.0,UNFURNISHED
302,1960000,3324,3,1.0,2.0,NO,YES,NO,NO,NO,1.0,0.0,UNFURNISHED
303,1890000,3649,2,1.0,1.0,YES,YES,NO,NO,NO,0.0,0.0,SEMI-FURNISHED
304,1767150,3649,3,1.0,1.0,NO,YES,NO,NO,NO,1.0,0.0,SEMI-FURNISHED
305,1750000,3649,3,1.0,1.0,NO,YES,NO,NO,NO,0.0,0.0,FURNISHED

In [30]:
data['prefarea'].replace({1:'YES',0:'NO'},inplace=True)
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,8960,2,4.0,4.0,YES,NO,NO,NO,YES,1.0,NO,FURNISHED
1,12250000,9960,3,2.0,2.0,YES,NO,YES,NO,NO,2.0,YES,SEMI-FURNISHED
2,12215000,7500,3,2.0,1.0,YES,NO,YES,NO,YES,3.0,YES,FURNISHED
3,11410000,7420,4,1.0,2.0,YES,NO,YES,NO,YES,2.0,NO,SEMI-FURNISHED
4,10150000,16200,5,3.0,2.0,YES,NO,NO,NO,NO,0.0,NO,SEMI-FURNISHED
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2100000,3000,4,3.0,2.0,NO,YES,NO,NO,NO,0.0,NO,UNFURNISHED
302,1960000,3324,3,1.0,2.0,NO,YES,NO,NO,NO,1.0,NO,UNFURNISHED
303,1890000,3649,2,1.0,1.0,YES,YES,NO,NO,NO,0.0,NO,SEMI-FURNISHED
304,1767150,3649,3,1.0,1.0,NO,YES,NO,NO,NO,1.0,NO,SEMI-FURNISHED
305,1750000,3649,3,1.0,1.0,NO,YES,NO,NO,NO,0.0,NO,FURNISHED

In [32]:
data.to_csv('datacleaned.csv')